.StatisticsPart {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 0;
  margin-top: 150px;

  .StatCardsWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 288px);
    justify-content: center;
    gap: 24px;

    .StatCard {
      background: #003a5a;
      border-radius: 8px;
      padding: 20px 30px;
      cursor: pointer;
      transition: box-shadow 0.2s ease-in;

      &:hover {
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
          rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
          rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
      }

      .StatNumber {
        // font-family: 'Inter';
        font-weight: 500;
        font-size: 48px;
        line-height: 150.02%;
        display: block;
        text-align: center;
        color: #ffffff;
        .animatedDiv {
          display: inline-block;
        }
      }

      .StatType {
        // font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150.02%;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .StatisticsPart {
    background-color: #fff;
    padding: 20px;

    .StatCardsWrapper {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 400px);
      justify-content: center;
      gap: 24px;

      .StatCard {
        background: #003a5a;
        border-radius: 8px;
        padding: 20px 30px;

        .StatNumber {
          // font-family: 'Inter';
          font-weight: 500;
          font-size: 48px;
          line-height: 150.02%;
          display: block;
          text-align: center;
          color: #ffffff;

          .animatedDiv {
            display: inline-block;
          }
        }

        .StatType {
          // font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150.02%;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
}

@media only screen and (max-width: 912px) {
  .StatisticsPart {
    background-color: #fff;
    padding: 20px;

    .StatCardsWrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 100%;
      justify-content: center;
      gap: 24px;

      .StatCard {
        background: #003a5a;
        border-radius: 8px;
        padding: 40px 30px;

        .StatNumber {
          // font-family: 'Inter';
          font-weight: 500;
          font-size: 36px;
          line-height: 150.02%;
          display: block;
          text-align: center;
          color: #ffffff;

          .animatedDiv {
            display: inline-block;
          }
        }

        .StatType {
          // font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 150.02%;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
}
